@charset "utf-8";
// If need, change your variables before importing Bulma
// $title-color: #ff0000;
@import "~bulma/bulma.sass";

$bubble-color: #00aabb;

.speech-bubble {
  position: relative;
  background: $bubble-color;
  border-radius: .4em;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 48px solid transparent;
  border-right-color: $bubble-color;
  border-left: 0;
  border-bottom: 0;
  margin-top: -24px;
  margin-left: -48px;
}

body > div {
  // &.default {
    // display: flex;
    // // use this if navbar is NOT fixed (default)
    // min-height: 100vh;
    // flex-direction: column;
  // }
  // &.fixed {
    display: flex;
    // use this if navbar is fixed
    min-height: calc(100vh - #{$navbar-height});
    flex-direction: column;
  // }
}

.main_content {
  flex: 1;
}

// body > div {

// }